<header>
            <section class="topbar clearfix">
            <div class="container">
                <div class="row">
                    <div class="t-left col-sm-7 clearfix">
                        <span>  <i class="fa fa-map-marker"></i>201  West Birmingham, AL  35204</span>
                        <span>  <i class="fa fa-envelope"></i> <a href="mailto:info@snakeyevapeshop.com">info@snakeyevapeshop.com</a></span> 
                        <span>  <i class="fa fa-phone"></i>(888) 813-7774</span> 
                    </div><!--end:t-left-->
                   
                   
                   <div class="t-right col-sm-6 clearfix">
                        <ul class="nav">       
                            <li>
                                <a href="http://wholesalesnakeyevape.com/#landing">
                                    <i class="fa fa-user"></i>Wholesale Log In
                                </a>
                            </li>
                            <li>
                                <a href="static/html/contacts.html">
                                    <i class="fa fa-envelope"></i>Contact
                                </a>
                            </li>
                          
                            <li class="itwm-header-cart">
                                <a href="https://www.snakeyevape.com">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>         
                    </div><!--end:row-->
                </div>
            </section><!--end:topbar-->
        
            <div class="nav-container stickmenu clearfix">
                <div class="inner">
                    <!-- logo -->
                    <a href="index.html" class="logo">
                        <img  src="static/placeholders/main-logo01.png"/> 
                    </a>
               <!-- end:logo -->    

               <!-- main-menu -->
                    <ul class="main-menu">
                        <li class="multi-level-menu">
                            <a href="#">New to Vaping?</a>
                        
                            <ul class="sub-menu">
                                <li><a href="static/html/vaping-guide.html"> Vaping Guide </a> </li>
                                <li><a href="static/html/industry-research.html">Industry Researh</a></li>
                                <li><a href="static/html/filling-tank.html"> Filling a Tank</a></li>
                                <li><a href="static/html/filling-cartomizers.html"> Filling a cartomizer</a></li>
                                <li><a href="static/html/about-rebuildables.html"> About Rebuildables</a></li>
                                <li><a href="static/html/coil-building.html">Coil Building</a></li>
                                <li><a href="static/html/rda-w-cotton-agi.html">RDA W/Cotton (AGI)</a></li>
                                <li><a href="static/html/building-rba-kayfun.html">Build RBA (Kayfun)</a></li>
                                <li><a href="static/html/rda-w-dual-helios.html">RDA W/Dual Coil (helios)</a></li>
                            </ul>
                        </li>

                        <li class="multi-level-menu">
                            <a href="#">E Cigars & MODS</a>
                            
                            <ul class="sub-menu">
                                <li><a href="static/html/boxmods.html">Box Mods</a> </li>
                                <li><a href="static/html/importmods.html">Import Mods</a></li>
                                <li><a href="static/html/highend.html">High End Mods</a></li>
                                <li><a href="static/html/ecigars.html">E Cigars</a></li>
                            </ul>
                        </li>

                        <li class="multi-level-menu">
                            <a href="static/html/sev-products.html">Starter Kits</a>
                        </li>
                        <!--end: submenu-->

                        <li class="multi-level-menu">
                            <a href="static/html/sev-products4.html">Batteries & Chargers</a>
                        </li>
                        <!--megamenu-->
                        <li class="multi-level-menu">
                            <a href="static/html/sev-products2.html">Atomizers</a>
                            <ul class="sub-menu">
                                <li><a href="static/html/dripping.html">Rebuildable Dripping Atomizer</a> </li>
                                <li><a href="static/html/thanks.html">Tanks & Subtanks</a></li>  
                            </ul>
                        </li>
                        <!--end:megamenu-->
                        <li class="multi-level-menu">
                            <a href="#">Juices</a>
                            <ul class="sub-menu">
                                <li><a href="static/html/andirondack.html"> Andirondack  Vapor </a> </li>
                                <li><a href="static/html/ism.html">ISM Vape</a></li>
                                <li><a href="static/html/kingcloud.html">King of the Clouds</a></li>
                                <li><a href="static/html/fowsbrew.html"> Fows brew</a></li>
                                <li><a href="static/html/jetfuel.html"> Jet Fuel</a></li>
                            </ul>
                        </li>
                        </li>
                        <!--end: submenu-->
                                          
                        <li class="multi-level-menu">
                            <a href="static/html/coils.html">Coils</a>
                        </li>

                        <li class="multi-level-menu">
                            <a href="#">Accessories</a>
                            <ul class="sub-menu">
                                <li><a href="static/html/dryherb.html">Dry Herb & Wax Vaporizers </a> </li>
                                <li><a href="static/html/waxcdb.html">Wax CBD Oil & Accessories</a></li>
                            </ul>
                        </li>
                           
                        <li class="multi-level-menu active">
                            <a href="http://snakeyevape.com">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="http://snakeyevape.com/Novelty-Items_c13.htm">Novelty Items</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- end:main-menu -->

                    <div id="mobile-menu" class="dl-menuwrapper">
                        <button class="dl-trigger"><i class="fa fa-bars"></i></button>
                        <ul class="dl-menu">
                           
                            <li class="multi-level-menu">
                                <a href="#">New to Vaping?</a>
                                <ul class="dl-submenu">
                                    <li><a href="static/html/vaping-guide.html"> Vaping Guide </a> </li>
                                    <li><a href="static/html/industry-research.html">Industry Researh</a></li>
                                    <li><a href="static/html/filling-tank.html"> Filling a Tank</a></li>
                                    <li><a href="static/html/filling-cartomizers.html"> Filling a cartomizer</a></li>
                                    <li><a href="static/html/about-rebuildables.html"> About Rebuildables</a></li>
                                    <li><a href="static/html/coil-building.html">Coil Building</a></li>
                                    <li><a href="static/html/rda-w-cotton-agi.html">RDA W/Cotton (AGI)</a></li>
                                    <li><a href="static/html/building-rba-kayfun.html">Build RBA (Kayfun)</a></li>
                                    <li><a href="static/html/rda-w-dual-helios.html">RDA W/Dual Coil (helios)</a></li>
                                </ul>
                            
                            </li>
                            <li class="multi-level-menu">
                                <a href="#">E Cigars & MODS</a>
                                <ul class="dl-submenu">
                                    <li><a href="static/html/boxmods.html">Box Mods</a> </li>
                                    <li><a href="static/html/importmods.html">Import Mods</a></li>
                                    <li><a href="static/html/highend.html">High End Mods</a></li>
                                    <li><a href="static/html/ecigars.html">E Cigars</a></li> 
                                </ul>
                            </li>

                            <li>
                                <a href="static/html/sev-products.html">Starter Kits</a>   
                            </li>

                            <li>
                                <a href="static/html/sev-products4.html">Batteries & Chargers</a>
                            </li>

                            <li>
                                <a href="static/html/sev-products2.html">Atomizers</a>
                                <ul class="sub-menu">
                                    <li><a href="static/html/dripping.html">Rebuildable Dripping Atomizer</a> </li>
                                    <li><a href="static/html/thanks.html">Tanks & Subtanks</a></li>
                                </ul>
                            </li>

                            <li class="multi-level-menu">
                                <a href="#">Juices</a>
                                <ul class="dl-submenu">
                                    <li><a href="static/html/andirondack.html"> Andirondack  Vapor </a> </li>
                                    <li><a href="static/html/ism.html">ISM Vape</a></li>
                                    <li><a href="static/html/kingcloud.html">King of the Clouds</a></li>
                                    <li><a href="static/html/fowsbrew.html"> Fows brew</a></li>
                            <!--    <li><a href="static/html/jetfuel.html"> Jet Fuel</a></li> -->
                                </ul>
                            </li>

                            <li class="multi-level-menu">
                                <a href="static/html/coils.html">Coils</a>
                            </li>

                            <li class="multi-level-menu">
                                <a href="#">Accessories</a>
                                <ul class="dl-submenu">
                                    <li><a href="static/html/dryherb.html">Dry Herb & Wax Vaporizers </a> </li>
                                    <li><a href="static/html/waxcdb.html">Wax CBD Oil & Accessories</a></li>
                                </ul>
                            </li>

                            <li class="multi-level-menu active">
                                <a href="http://snakeyevape.com/main.sc">Shop</a>
                                
                            </li>

                        </ul>
                    </div><!-- /dl-menuwrapper -->
                </div>
                 <!--end:inner-->
            </div><!--end:nav-container-->
        
        </header>
        <!-- end:header ?? -->

    <!-- age Modal popup -->
    <div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title" id="myModalLabel"><%= translate("ageVerification") %></h4>
                </div>
                <div class="modal-body">
                    <button id="age-minus" class="btn btn-lg btn-default btn-block">-18</button>
                        
                    <button id="age-plus" class="btn btn-lg btn-primary btn-block" type="submit">+18</button>       
                </div>
                <div class="modal-footer">
                    <p><%= translate("ageStuffs") %></p>
                </div>
            </div>
        </div>
    </div>
    <!-- dale -->

